[Desktop Entry]
Type=Service
Name=RCloneTo
Icon=cloud-upload
Actions=Dst1;Cfg;AddDst;
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles;
X-KDE-Priority=TopLevel
X-KDE-Submenu=rclone To...

[Desktop Action Dst1]
Exec=/this/path/should/be/replaced/on/install "%f" "dst_route_1" "dst_dir_1"
Name=Upload to Google Drive 1
Icon=cloud-upload

[Desktop Action Cfg]
Exec=kdialog --msgbox "Not implemented yet :("
Name=Configure Destinations...
Icon=kstars_satellites

[Desktop Action AddDst]
Exec=kdialog --msgbox "Not implemented yet :("
Name=Add Destination...
Icon=format-add-node

